html.croptix-theater .video-player-spacer {
    max-height: 100vh !important;
}

html.croptix-theater header,
html.croptix-theater .app-layout__header--ywueY {
    display: none !important;
}

html.croptix-theater,
html.croptix-theater body {
    overflow: hidden !important;
    height: 100vh !important;
}
