/* Fix blue outline on player (chrome) */
html.croptix-vilos,
html.croptix-vilos * {
    outline: none !important;
    box-shadow: none !important;
}

.video-player-wrapper * {
    outline: none !important;
    box-shadow: none !important;
}
